<div class="kniffel-container">
  <div class="kniffel-table">
    <table>
      <tr>
        <th>Kategorien</th>
        <th *ngFor="let player of playerList">{{player.name}}</th>
      </tr>
      <!-- UpperBlock -->
      <tr *ngFor="let category of upperBlock">
        <td>{{category}}</td>
        <td *ngFor="let player of playerList">
          <span *ngIf="player.getCategoryValue(category) != null"
                class="selected-Value">
            {{player.getCategoryValue(category)}}
          </span>
          <span *ngIf="player.activeTurn && player.getCategoryValue(category) == null"
                (click)="selectCategory(player, category)"
                class="selectable-Value">
            {{calculateValue(category)}}
          </span>
        </td>
      </tr>
      <!-- UpperBlock points -->
      <tr *ngFor="let category of upperBlockPoints">
        <td>{{category}}</td>
        <td *ngFor="let player of playerList">
          <span>{{player.getCategoryPoints(category)}}</span>
        </td>
      </tr>

      <!-- LowerBlock -->
      <tr *ngFor="let category of lowerBlock">
        <td>{{category}}</td>
        <td *ngFor="let player of playerList">
          <span *ngIf="player.getCategoryValue(category) != null"
                class="selected-Value">
            {{player.getCategoryValue(category)}}
          </span>
          <span *ngIf="player.activeTurn && player.getCategoryValue(category) == null"
                (click)="selectCategory(player, category)"
                class="selectable-Value">
            {{calculateValue(category)}}
          </span>
        </td>
      </tr>
      <!-- Total points -->
      <tr *ngFor="let category of lowerBlockPoints">
        <td>{{category}}</td>
        <td *ngFor="let player of playerList">
          <span>{{player.getCategoryPoints(category)}}</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="kniffel-dices">
    <div *ngFor="let dice of dices">
      <img [src]="getDiceImg(dice.value)"
           [ngClass]="dice.holdBack ? 'hold-dice':'dice'"
           (click)="toggleHoldDice(dice)"/>
    </div>
    <button (click)="rollDice()">{{'würfeln (' + possibleRerolls + ')'}}</button>
  </div>
</div>
