<div class="kniffel-container">
  <div class="kniffel-table">
    <table>
      <tr>
        <th>Kategorien</th>
        <th *ngFor="let player of playerList">{{player.name}}</th>
      </tr>
      <!-- UpperBlock -->
      <tr *ngFor="let category of upperBlock">
        <td class="value-Category">{{category}}</td>
        <td *ngFor="let player of playerList" class="value"
            (click)="(player.activeTurn && player.getCategoryValue(category) == null)
            && selectCategory(player, category)">
          <div *ngIf="player.getCategoryValue(category) != null"
               class="selected-Value">
            {{player.getCategoryValue(category)}}
          </div>
          <div *ngIf="player.activeTurn && player.getCategoryValue(category) == null"
               class="selectable-Value">
            {{calculateValue(category)}}
          </div>
        </td>
      </tr>
      <!-- UpperBlock points -->
      <tr *ngFor="let category of upperBlockPoints">
        <td class="point-Category">{{category}}</td>
        <td *ngFor="let player of playerList" class="points">
          <div class="points-value">{{player.getCategoryPoints(category)}}</div>
        </td>
      </tr>

      <!-- LowerBlock -->
      <tr *ngFor="let category of lowerBlock">
        <td class="value-Category">{{category}}</td>
        <td *ngFor="let player of playerList" class="value"
            (click)="(player.activeTurn && player.getCategoryValue(category) == null)
            && selectCategory(player, category)">
          <div *ngIf="player.getCategoryValue(category) != null"
               class="selected-Value">
            {{player.getCategoryValue(category)}}
          </div>
          <div *ngIf="player.activeTurn && player.getCategoryValue(category) == null"
               class="selectable-Value">
            {{calculateValue(category)}}
          </div>
        </td>
      </tr>
      <!-- Total points -->
      <tr *ngFor="let category of lowerBlockPoints">
        <td class="point-Category">{{category}}</td>
        <td *ngFor="let player of playerList" class="points">
          <div>{{player.getCategoryPoints(category)}}</div>
        </td>
      </tr>
    </table>
  </div>
  <div class="kniffel-dices">
    <div *ngFor="let dice of dices">
      <img *ngIf="1 <= dice.value && dice.value <= 6"
           [src]="getDiceImg(dice.value)"
           [ngClass]="dice.holdBack ? 'hold-dice':'dice'"
           (click)="toggleHoldDice(dice)"
           [alt]="'Würfel '+dice.value"/>
    </div>
    <button class="shuffle-button"
            [disabled]="isShuffleDeactivated()"
            (click)="rollDice()">
      {{'würfeln (' + possibleRerolls + ')'}}
    </button>
  </div>
</div>
